body {
	background-color: #ccc;
}

div {
	display: block;
	position: relative;
}

#game {
	position: absolute;
	background-color: white;
	height: 310px;
	width: 500px;
	right: 10px;
	overflow: hidden;
}

.row {
	width: 100%;
}
#top {
	background-color: red;
	height: 50px;
	z-index: 1;
}
#middle {
	height: 210px;
}
#bottom {
	background-color: red;
	height: 50px;
	z-index: 1;
}

.column {
	display: inline-block;
	height: 100%;
	width: 100px;
	margin: 0 -2px;
}
#left {
	background-color: blue;
}
.spinner {
	-webkit-animation: roll .5s infinite linear;
}
#right {
	background-color: blue;
}

.slot {
	width: 100%;
	height: 70px;
	border: 1px solid black;
}

.yellow {
	background-color: yellow;
}
.purple {
	background-color: purple;
}
.aqua {
	background-color: aqua;
}
.grey {
	background-color: grey;
}
.green {
	background-color: green;
}

@-webkit-keyframes roll {
	0% {
		-webkit-transform: translate(0,0);
	}
	100% {
		-webkit-transform: translate(0, -360px);
	}
}


